#input{
    position: absolute;
    left:50%;
    transform: translate(-50%);
}
input{
    width: 30px;
    padding: 10px;
    font-size: 25px;
    appearance: none;
    text-align: right;
    background: transparent;
    border:none;
    -webkit-appearance: none;
    -moz-appearance: textfield;
}
label{
    font-size:  30px;
    user-select: none;
}
button{
    font-size: 15px;
    border-radius: 10px;
}