:root{
    --spaziatura: 1;
    
    
    --bg-html: rgb(28, 27, 34);
    --color-text-html: whitesmoke;
    
    --bg-contenuto: rgb(32, 34, 35);
    
    --bg-codice: rgb(40, 44, 52);
    --color-codice: #abb2bf;
    
    --bg-notifica: rgb(43, 42, 51);
    
    --border-welcome: linear-gradient(red,red);
}


html{
    background: var(--bg-html);
    color: var(--color-text-html);
}


.btn{
    height: 35px;
    width: 100px;
    font-size: 20px;
    border-radius: 10px;
    margin-bottom: 1%;
    transition: transform 0.7s;
}


.btn:hover{
    background-color: rgb(110, 110, 110);
    font-weight: 200;
    transform: scale(1.1);
}


.contenuto{
    width: 60%;
    background: var(--bg-contenuto);
    text-align: left;
    
    color: var(--color-text-html);
    border-radius: 10px;
    padding: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
    overflow: hidden;
    
    border: 1px solid;
    
}

#contenuto{
    position: relative;
    z-index: 1;
    
    /* margin-top:-1px; */
    
}

.centro{
    display: flex;
    flex-direction: column; 
    align-items: center;
}

.passami-sopra{
    color: rgb(0, 122, 255);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: underline;
    cursor: pointer;
    transition: font-size 0.7s;
}


.passami-sopra:hover{ font-size: 22px; }

li{
    margin-bottom: 0.5%;
}

#titolo {
    text-align: center;
    font-weight: 700;
    font-size: 35px;
    
}


#codice{
    font-family: Consolas, monospace;
    font-size: 16px;
    font-weight: 600;
    
    background: var(--bg-codice);
    color: var(--color-codice);
    
    border-radius: 5px;
    padding: 1px 5px 1px 5px;
    
}


code {
    display: flex;
    padding: 16px;
    
    max-width: 90vw;
    
    background: var(--bg-codice);
    color: var(--color-codice);
    border-radius: 8px;
    
    overflow: auto;
    margin-bottom: 16px;
    margin-top: 16px;
    font-family: Consolas, monospace;
    
    font-size: 16px;
    font-weight: 600;
    
    text-overflow: ellipsis;
    white-space: nowrap;
}

code > ol{
    margin:0;
    /* padding:0; */
}


#spazio {
    display:inline-block;
    height: 1px;
    width: calc(2.2em * var(--spaziatura));
    /* width: 25px; */
}

.bottonetornaindietro{
    display: block;
    border-top: 20px;
    border-radius: 15px;
    margin: 0 0 0 auto;
    position: absolute;
    top: 10px;
    left: 15px;
    float: left;
    transition: transform 0.7s;
}


.bottonetornaindietro:hover{ transform: scale(1.2); }


#visualizza{
    color: rgb(0, 122, 255);
    transition: font-size 0.7s;
}


#visualizza:hover{ font-size: 23px; }


#sezione-titolo{
    padding-left: 20px;
    /* font-size: 20; */
}


#sezione-testo{ padding-left: 40px; }


.img-border{
    border-radius: 10px;
    /* border: 3px solid #000; */
    border: 1px solid white;
    image-rendering: auto;
}

.bottonMap{
    border-radius: 7px;
    margin-top: 7px;
    transition: transform 0.7s;
}


.bottonMap:hover{ transform: scale(1.3); }


#notifica{
    position: absolute;
    /* height: 0%;
    width: 3%; */
    left: 50%;
    background: var(--bg-notifica);
    padding-left: 10px;
    padding-right: 10px;
    transform:  translate(-50%);
    z-index: 0;
    
    border: 1px solid;
    border-radius: 10px;
    
    
    
}

.contenuto-sceso{
    width: 60%;
    background: var(--bg-contenuto);
    text-align: left;
    
    color: var(--color-text-html);
    border-radius: 10px;
    padding: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
    animation: scendi 3s linear;
    top: var(--altezza);
    
    border: 1px solid;
    
}


.contenuto-alzato{
    width: 60%;
    background: var(--bg-contenuto);
    text-align: left;
    
    color: var(--color-text-html);
    border-radius: 10px;
    padding: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
    animation: sali 3s linear;
    top: 0%;
    
    border: 1px solid;
    

}

.welcome {
    position: relative;
    color: red; 
    background: var(--bg-notifica);
    font-size: 50px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    padding-top: 1%;
    margin-top:-1%;
    user-select: none;
    
    /* overflow: hidden; */
    
    background-clip: padding-box;
    
}

.welcome::after {
    position: absolute;
    
    top: -1px; bottom: -1px;
    left: -2px; right: -2px;
    
    background: var(--border-welcome);
    content: '';
    z-index: -1;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}


@keyframes scendi {
    0%{ top: 0px; }
    50%{ top: calc(var(--altezza)/2); }
    100%{ top: var(--altezza); }
}

@keyframes sali {
    0%{ top: var(--altezza); }
    50%{ top: calc(var(--altezza)/2); }
    100%{ top: 0px; }
} 
