.start{
    position: absolute;
    top: 45%;
    left: 50%;
    height: 150px;
    width: 200px;
    background-color: chocolate;
    border-radius: 10px;
    transform: translate(-50%, -50%);
}

input[type="number"]{
    border: none;
    font-size: 20px;
    appearance: textfield;
    -moz-appearance: textfield;  
    -webkit-appearance: textfield;
}

p{
    font-size: 20px;
}

.mazzo {
    /* perspective: 600px; */
    position: relative;
    width: 100px;
    height: 150px;
    background-color: white;
    border-radius: 5px;
    border: 3px solid black;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
    transform: rotate(90deg);
    /* transform: rotateY(-20deg) rotateX(20deg); */
}


.carta {
    position: absolute;
    top: 80%;
    left: 50%;
    width: auto;
    height: auto;
    border-radius: 5px;
    border: 3px solid black;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
    transform: translate(-50%);
    background-color: black;
}


td{
  border: 1px solid #333;
  font-size: 25px;
  text-align: center;
  user-select: none;
  background-color: white;
}

.signet{
    background-color: green     ;
    color: white;    
}

