@font-face {
    font-family: "BungeeShade";
    src: url("font/BungeeShade.ttf")
}

body {
    background: greenyellow;
}

button {
    border-radius: 5%;
    padding: 10px;
    border: none;
    background-color: transparent;
    transition: all 0.5s;
    margin: 3px;
    
}

button:hover {
    transform: scale(1.2);
    cursor: pointer;
}

#materie {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.spacer {
    width: 25%;
    opacity: 0;
}

.main_content {
    display: flex;
    flex-direction: row;
}