html {
    user-select: none;
    background: #1a1a1a;
}

.jarvis-log {
    width: 50%;
    border: 2px solid white;
    border-radius: 10px;
    color:white;
    text-align: left;
    
    background: #242424;   
    
    font-size: calc(1em + 1vw);
    
    max-height: 50%;
    overflow: scroll;
}

.jarvis-log div {
    margin: 5px 10px;
}


.outer-mic {
    position: absolute;
    left:50%;
    top:100%;
    transform: translate(-50%, -100%);
    filter: invert(1);
    
    
    width: 30%;
    height: 30%;
    
}

.mic {
    position: absolute;
    left:50%;
    top:100%;
    transform: translate(-50%, -100%);
    
    width: 100%;
    height: 100%;
}

.mic-wave {
    position: absolute;
    left: 50%;
    top: 35%;
    transform: translate(-50%, -100%);
    
    width: 200%;
    height: 100%;
}