.items{
    position: absolute;
    display: flex;
    flex-direction: column;
    border: 1px black solid;
    border-radius: 10px;
    width: 6.5%;
    /* height: 50%; */
    height: auto;
    top: 48%;
    left: -0.41%;
    transform: translate(0,-50%);
}

.item{
    border: 1px green solid;
    border-radius: 5px;
    margin-top: 10px;
    text-align: center;
    user-select: none;
    cursor: pointer;
}

.freccia{ 
    position: absolute;
    height: 2px;
    background-color: black;
    transform-origin: top left;
}
.freccia > div.punta{
    position: absolute;
    border-left: 10px white solid;
    border-right: 10px white solid;
    border-top: 10px solid black;
    transform: rotate(-90deg) translate(0, -50%);
}

.io{
    border: 1px black solid;
    transform: skewX(-30deg);
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 200px;
}

.io > p{
    transform: skewX(30deg);
}

input {
    width: 75%;
    border: none;
    background: transparent;
    text-align: center;
    transform: skewX(30deg);
}

#mover > input{
    cursor: grab;
}

.blo{
    border: 1px black solid;
    display: flex;
    justify-content: center;
    align-items: center;
}

.rombo{
    border: 1px solid black;
    width: 100px;
    height: 100px;
    transform: rotate(-45deg);
    display: flex;
    justify-content: center;
    align-items: center;
}
p{  
    width: 100%;
    user-select: none;
    text-align: center;
    max-width: 200px;
    word-wrap: break-word;
}

.menu{
    display: flex;
    position: absolute;
    border: 1px solid black;
    flex-direction: column;
    background-color: #80808061;
    border-radius: 0 10px 10px 10px;
}

.menu > button{
    margin: 0px 10px 10px 10px;
    border-radius: 10px;
}

.hide{display: none;}


#hideElements{
    border-radius: 10px; 
    position: absolute; 
    top: 1%;
    left: -3.3%;
    transform: scale(0.5);
    transition: 1s;
}

#hideElements:hover{
    transform: scale(1.1);
    left:1%;
}