h1 {
    font-size: 45px;
    margin: 0;
}

button{
    position: absolute;
    transform: translate(-50%, -45%);
    
    border-radius: 10px;
    background: transparent;
    outline: none;
    border: none;
    font-size: 20px;
    font-weight: bold;
    padding: 15%;
    transition: font-size 0.5s;
}

button:hover{
    font-size: 30px;
}



.staccehtto {
    position: absolute;
    left: 50%;
    width: 2px;
    height: 60%;
    background-color: #5a5a5a;
    /* #5a5a5a */
    transform: translate(-50%, -2%);
}

.staccehtto::after{
    content: " ";
    position: absolute;
    left: 50%;
    width: 1px;
    height: 100%;
    background-color: #afafaf;
    /* #afafaf */
}
